# Copiar a .env y ajustar
EVA_PROJECT_NAME=eva-valle-v3.0
EVA_ENV=development
EVA_DATA_RAW_PATH=data/raw/upra
EVA_DATA_PROCESSED_PATH=data/processed
EVA_OUTPUTS_PATH=outputs
EVA_UPRA_BASE_URL=https://upra.gov.co/es-co/eva/eva-2024
EVA_DOWNLOAD_TIMEOUT=60
EVA_DOWNLOAD_RETRIES=3
EVA_HEADLESS=true
EVA_ST_THEME=dark
EVA_ST_PAGE_WIDTH=wide
EVA_LOG_LEVEL=INFO
EVA_LOG_FILE=logs/eva_valle.log
EVA_ML_RANDOM_STATE=42
EVA_ML_TEST_SIZE=0.2
EVA_ML_MODELS_PATH=models
